.featured-post{
  width: 90%;
  margin: auto;
  margin-top: 40px;
  display: flex;
}

.featured-post img{
  width: 400px;
  border-radius: 4px;
}

.content-featured-post{
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content-featured-post span{
  color: #ccc;
  font-weight: bold;
  font-size: 13px;
}

.content-featured-post p{
  color: #adadad;
}

.line-post{
  margin: auto;
  margin-top: 20px;
  width: 85%;
}
